## Часть 1: Введение в Pandas

Pandas - это библиотека Python для работы с данными. Она предоставляет мощные инструменты для анализа и манипуляции данными.

### Установка Pandas

Для начала убедитесь, что у вас установлена библиотека Pandas. Если ее нет, установите ее с помощью команды:

In [ ]:
!pip install pandas

## Импорт библиотеки
Давайте начнем с импорта библиотеки Pandas:

In [ ]:
import pandas as pd

## Часть 2: Работа с данными
### Чтение данных
Мы будем использовать датасет Titanic. Давайте прочитаем данные из CSV файла.

In [ ]:
df = pd.read_csv('titanic.csv')

### Предпросмотр данных
Для первого ознакомления с данными давайте выведем первые несколько строк.

In [ ]:
df.head()

### Информация о данных
Чтобы получить общую информацию о данных, воспользуйтесь методом .info().

In [ ]:
df.info()

### Работа с NaN
Часто данные содержат пропущенные значения, которые представляются как NaN (Not a Number). Pandas предоставляет удобные методы для работы с ними.

Проверка на наличие NaN. Методы fillna и dropna возвращают новые DataFrame, проверьте нет ли в них NaN

In [ ]:
df.isna().sum()

Заполнение NaN

In [ ]:
df_filled = df.fillna(0)
df_filled.head()

Удаление строк с NaN

In [ ]:
df_dropped = df.dropna()
df_dropped.info()

## Часть 3: Обработка DataFrame
### Выбор данных
Pandas позволяет выбирать данные по индексам, меткам столбцов и условиям.

In [ ]:
df['Age']
df[['Name', 'Age', 'Sex']]
df.loc[0:5]
df[(df['Sex'] == 'male') & (df['Age'] > 30)]

### Сортировка данных
Сортировка данных по значениям столбцов.

In [ ]:
df.sort_values(by='Fare', ascending=True)

### Группировка данных
Pandas также позволяет группировать данные и выполнять агрегирующие операции.

In [ ]:
df.groupby('Pclass')['Survived'].mean()

## Часть 4: Задания для практики
Прочитайте данные из файла 'titanic.csv'.
Проверьте, есть ли пропущенные значения в данных и заполните их нулями.
Выведите первые 10 строк данных.
Выберите только те строки, где значение в столбце 'Age' больше 30.
Отсортируйте данные по столбцу 'Fare' в порядке убывания.
Сгруппируйте данные по столбцу 'Pclass' и вычислите средний возраст ('Age') для каждого класса.

In [ ]:
df = pd.read_csv('titanic.csv')
df = df.fillna(0)
df.head(10)
df[df['Age'] > 30]
df.sort_values(by='Fare', ascending=False)
df.groupby('Pclass')['Age'].mean()